/target
/bin
.settings
.classpath
.project
.checkstyle
.springBeans
.cache
.buildpath
log.roo
rebel.xml
bod.log
.DS_Store
logfile
.externalToolBuilders/
.worksheet/
.apt_generated/
*.sc
/src/test/cache/
