input[type="image"] {
	width: auto;
	height: auto;
	line-height: auto;
	border: none;
	padding: 0;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}
.input span.ref-block {
	padding-top: 6px;
	font-size: 13px;
	line-height: 18px;
	float: left;
	text-align: right;
	color: #B94A48;
}
.bandwidth-tool{margin-left: 20px;}
.bandwidth-tool img.active {
	-webkit-box-shadow: 0px 0px 6px 1px green;
    -moz-box-shadow: 0px 0px 6px 1px green;
	box-shadow: 0px 0px 6px 1px green;
}
.bandwidth-tool img:hover {
	-webkit-box-shadow: 0px 0px 1px 1px #0064CD;
    -moz-box-shadow: 0px 0px 1px 1px #0064CD;
	box-shadow: 0px 0px 1px 1px #0064CD;
}
.bandwidth-tool img {
	border: 1px solid white;
	margin-right: 10px;
	vertical-align: middle;
	-webkit-box-shadow: 2px 3px 5px #0064CD;
	-moz-box-shadow: 2px 3px 5px #0064CD;
	box-shadow: 0px 0px 6px 1px #0064CD;
}
.input-text {padding-top: 6px;font-size: 13px;line-height: 18px;}

thead tr th.headerSortDown, thead tr th.headerSortUp{background-color: rgba(141, 192, 219, 0.25);}
th.headerSortDown::after{content:"";float:right;margin-left:4px;margin-top:7px;border-width: 4px 4px 0px;border-style: solid; border-color: black transparent;}
th.headerSortUp::after{content:"";float:right;margin-left:4px;margin-top:7px;border-width: 0 4px 4px;border-style: solid; border-color: black transparent;}

.zebra-striped > tbody > tr:nth-child(odd) > td,.zebra-striped > tbody > tr:nth-child(odd) > th{background-color:#f9f9f9;}
.zebra-striped > tbody > tr > td,.zebra-striped > tbody > tr > th{background-color:white;}
.zebra-striped > tbody > tr:hover > td,.zebra-striped > tbody > tr:hover > th{background-color:#f5f5f5;}
.zebra-striped > tbody > tr.detailview > td,.zebra-striped > tbody > tr.detailview:nth-child(odd) > td{background-color: #E5F2FF;}
.zebra-striped > tbody > tr.detailview:hover > td,.zebra-striped > thead > tr.detailview:hover > th{background-color: #E5F2FF;}

.dropdown-menu li{white-space: nowrap;}
.add-on.success{background-color:#57A957;color:white;font-weight:bold;text-shadow:0 0;border-color:#57A957;}
.add-on.important{background-color:#c43c35;color:white;font-weight:bold;text-shadow:0 0;border-color:#c43c35}
.input-append .help-inline{padding-top: 6px;display:table;}
.hero-unit ul{font-size:18px;}
.hero-unit ul li{color:#404040;font-weight:200;line-height:27px;}
.hero-unit h1 {margin-bottom: 10px;}
p.smiley {
	font-size: 150px;
	font-weight:bold;
	text-align:center;
	margin:100px 0 50px 0;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-ms-transform:rotate(90deg)
}

ul.tasks {list-style-type: none;}
ul.tasks li {margin-bottom: 10px;}
ul.tasks a.btn {width: 160px;}
