body {
	padding-top: 50px;
}
input[type="image"] {
	width: auto;
	height: auto;
	line-height: auto;
	border: none;
	padding: 0;
}
form#command {
	display: inline;
	margin: 0;
}
.utilbox a, .quicklinks span {
	padding-right: 5px;
}
.quicklinks {
	background-color: #FEFBF3;
	padding: 9px;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	text-align: center;
}
.container {
	margin-top: 80px;
}
.errors {
	color: red;
	font-weight: bold;
}
div.topbar {
	background: url(../images/body_theme_bck.gif) no-repeat;
	background-color: white;
	width: 940px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
}
div.topbar img.logo {
	float: left;
	margin: 10px 0 0 10px;
	border: 0;
}
div.topbar h1 {
	float: left;
	margin: 0;
	padding: 20px 0 0 60px;
	color: black;
}
.hero-unit h1 {
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}
table ul li {
    color: #404040;	
}
table ul {
	margin: 0 0 0 15px;
}
.pagination {
	text-align: center;
}
.pagination ul {
	float: none;
	display: inline-block;
}
label {
	width: 150px;
}
form .input {
	margin-left: 170px;
}
.actions {
	padding-left: 170px;
}