/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+
+   File        : screen_theme.css
+   Author      : frismedia.nl
+   Date        : 25-06-2007
+    
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

div.wrapper.yellow,
div.wrapper.red,
div.wrapper.purple,
div.wrapper.blue,
div.wrapper.green,
div.wrapper.ochre,
div.wrapper.indigo,
div.wrapper.orange {
    background:url(../img/body_theme_bck.gif) 30px 0px no-repeat !important;
}

div.yellow div.surftag,
div.red div.surftag,
div.purple div.surftag,
div.blue div.surftag,
div.green div.surftag,
div.ochre div.surftag,
div.indigo div.surftag,
div.orange div.surftag {
    right:47px;
    top:7px;
}

div.yellow div.header,
div.red div.header,
div.purple div.header,
div.blue div.header,
div.green div.header,
div.ochre div.header,
div.indigo div.header,
div.orange div.header {
    margin-top:-5px;
}

div.yellow div.header div.banner,
div.red div.header div.banner,
div.purple div.header div.banner,
div.blue div.header div.banner,
div.green div.header div.banner,
div.ochre div.header div.banner,
div.indigo div.header div.banner,
div.orange div.header div.banner
{
    position:relative;
    margin:0 45px 12px 0;
    padding:0;
    float:right;
    display:inline;
}

div.yellow div.header div.banner span,
div.red div.header div.banner span,
div.purple div.header div.banner span,
div.blue div.header div.banner span,
div.green div.header div.banner span,
div.ochre div.header div.banner span,
div.indigo div.header div.banner span,
div.orange div.header div.banner span {
    font-size:0.9em;
    position:absolute;
    padding:0;
    margin:22px 0 0 25px;
    z-index:50;
    color:#FFFFFF;
}

*html div.yellow div.header div.banner span,
*html div.red div.header div.banner span,
*html div.purple div.header div.banner span,
*html div.blue div.header div.banner span,
*html div.green div.header div.banner span,
*html div.ochre div.header div.banner span,
*html div.indigo div.header div.banner span,
*html div.orange div.header div.banner span {
    padding-bottom:1px;
    }

div.yellow div.header div.banner span strong,
div.red div.header div.banner span strong,
div.purple div.header div.banner span strong,
div.blue div.header div.banner span strong,
div.green div.header div.banner span strong,
div.ochre div.header div.banner span strong,
div.indigo div.header div.banner span strong,
div.orange div.header div.banner span strong {
    font-size:1.9em;
    display:block;
}

div.yellow div.header div.banner span strong {color:#d1b600;}
div.red div.header div.banner span strong {color:#CE202A;}
div.purple div.header div.banner span strong {color:#9C0064;}
div.blue div.header div.banner span strong {color:#0666A3;}
div.green div.header div.banner span strong {color:#0F8557;}
div.ochre div.header div.banner span strong {color:#A69C17;}
div.indigo div.header div.banner span strong {color:#194B8D;}
div.orange div.header div.banner span strong {color: #F57018;}

div.yellow div.header div.banner span.topleft,
div.red div.header div.banner span.topleft,
div.purple div.header div.banner span.topleft,
div.blue div.header div.banner span.topleft,
div.green div.header div.banner span.topleft,
div.ochre div.header div.banner span.topleft,
div.indigo div.header div.banner span.topleft,
div.orange div.header div.banner span.topleft{
    position:absolute;
    top:0;
    left:0;
    width:4px;
    height:4px;
    margin:0;
    background-image:url(../img/header_theme_img_topleft_bck.gif);
    background-repeat:no-repeat;
}

div.yellow div.header div.banner span.topright,
div.red div.header div.banner span.topright,
div.purple div.header div.banner span.topright,
div.blue div.header div.banner span.topright,
div.green div.header div.banner span.topright,
div.ochre div.header div.banner span.topright,
div.indigo div.header div.banner span.topright,
div.orange div.header div.banner span.topright {
    position:absolute;
    top:0;
    right:0;
    width:4px;
    height:4px;
    margin:0;
    background-image:url(../img/header_theme_img_topright_bck.gif);
    background-repeat:no-repeat;
}

*html div.yellow div.header div.banner span.topright,
*html div.red div.header div.banner span.topright,
*html div.purple div.header div.banner span.topright,
*html div.blue div.header div.banner span.topright,
*html div.green div.header div.banner span.topright,
*html div.ochre div.header div.banner span.topright,
*html div.indigo div.header div.banner span.topright,
*html div.orange div.header div.banner span.topright {
    right:-2px;
}

div.yellow div.header div.banner span.bottomleft,
div.red div.header div.banner span.bottomleft,
div.purple div.header div.banner span.bottomleft,
div.blue div.header div.banner span.bottomleft,
div.green div.header div.banner span.bottomleft,
div.ochre div.header div.banner span.bottomleft,
div.indigo div.header div.banner span.bottomleft,
div.orange div.header div.banner span.bottomleft  {
    position:absolute;
    bottom:0;
    left:0;
    width:4px;
    height:4px;
    margin:0;
    background:url(../img/header_theme_img_bottomleft_bck.gif);
    background-repeat:no-repeat;
}

*html div.yellow div.header div.banner span.bottomleft,
*html div.red div.header div.banner span.bottomleft,
*html div.purple div.header div.banner span.bottomleft,
*html div.blue div.header div.banner span.bottomleft,
*html div.green div.header div.banner span.bottomleft,
*html div.ochre div.header div.banner span.bottomleft,
*html div.indigo div.header div.banner span.bottomleft,
*html div.orange div.header div.banner span.bottomleft {
    bottom:-13px;
}

div.yellow div.header div.banner span.bottomright,
div.red div.header div.banner span.bottomright,
div.purple div.header div.banner span.bottomright,
div.blue div.header div.banner span.bottomright,
div.green div.header div.banner span.bottomright,
div.ochre div.header div.banner span.bottomright,
div.indigo div.header div.banner span.bottomright,
div.orange div.header div.banner span.bottomright {
    position:absolute;
    bottom:0;
    right:0;
    width:4px;
    height:4px;
    margin:0;
    background-image:url(../img/header_theme_img_bottomright_bck.gif);
    background-repeat:no-repeat;
}

*html div.yellow div.header div.banner span.bottomright,
*html div.red div.header div.banner span.bottomright,
*html div.purple div.header div.banner span.bottomright,
*html div.blue div.header div.banner span.bottomright,
*html div.green div.header div.banner span.bottomright,
*html div.ochre div.header div.banner span.bottomright,
*html div.indigo div.header div.banner span.bottomright,
*html div.orange div.header div.banner span.bottomright {
    bottom:-13px;
    right:-2px;
}

div.yellow div.header div.banner img,
div.red div.header div.banner img,
div.purple div.header div.banner img,
div.blue div.header div.banner img,
div.green div.header div.banner img,
div.ochre div.header div.banner img,
div.indigo div.header div.banner img,
div.orange div.header div.banner img  {
    margin:0 0 0 0;
    padding:0;
    display:block;
    width:760px;
}

div.yellow div.header img.logo,
div.red div.header img.logo,
div.purple div.header img.logo,
div.blue div.header img.logo,
div.green div.header img.logo,
div.ochre div.header img.logo,
div.indigo div.header img.logo,
div.orange div.header img.logo {
    float:left;
    margin:0 25px 12px 12px;
    padding:0;
    position:relative;
    border:0;
    left:0px;
}

*html div.yellow div.header img.logo,
*html div.red div.header img.logo,
*html div.purple div.header img.logo,
*html div.blue div.header img.logo,
*html div.green div.header img.logo,
*html div.ochre div.header img.logo,
*html div.indigo div.header img.logo,
*html div.orange div.header img.logo {
    margin-left:6px;
}





div.yellow div.header ul,
div.red div.header ul,
div.purple div.header ul,
div.blue div.header ul,
div.green div.header ul,
div.ochre div.header ul,
div.indigo div.header ul,
div.orange div.header ul {
    background:url(../img/header_theme_ul_bck.gif) left bottom no-repeat; 
    clear:both;
    margin:0 0 0 0 !important;
}

div.yellow div.header ul li:hover ul li a,
div.red div.header ul li:hover ul li a,
div.purple div.header ul li:hover ul li a,
div.blue div.header ul li:hover ul li a,
div.green div.header ul li:hover ul li a,
div.ochre div.header ul li:hover ul li a,
div.indigo div.header ul li:hover ul li a,
div.orange div.header ul li:hover ul li a {
    background:none;
    background-repeat:no-repeat;
    background-position: 15px 11px;
    padding:4px 15px 4px 24px;  
    width:160px;
    background-image:url(../img/header_list_bck.gif);
    }
    
div.yellow div.header ul li:hover ul li a {background-image:url(../img/yellow/header_list_bck.gif);}

div.yellow div.header ul ul li a:hover, div.yellow div.header ul li:hover ul li em a {background-image: url(../img/yellow/header_li_hover.gif)!important;}

div.yellow div.header ul li:hover a, div.yellow div.header ul li em a, div.yellow div.header ul ul li em a {background-color:#EFCC2F; color:#000;}
div.red div.header ul li:hover a, div.red div.header ul li em a, div.red div.header ul ul li em a {background-color:#990000;}
div.purple div.header ul li:hover a, div.purple div.header ul li em a, div.purple div.header ul ul li em a {background-color:#9C0064;}
div.blue div.header ul li:hover a, div.blue div.header ul li em a, div.blue div.header ul ul li em a {background-color:#0666A3;}
div.green div.header ul li:hover a, div.green div.header ul li em a, div.green div.header ul ul li em a {background-color:#0F8557;}
div.ochre div.header ul li:hover a, div.ochre div.header ul li em a, div.ochre div.header ul ul li em a {background-color:#A69C17;}
div.indigo div.header ul li:hover a, div.indigo div.header ul li em a, div.indigo div.header ul ul li em a {background-color:#194B8D;}
div.orange div.header ul li:hover a, div.orange div.header ul li em a, div.indigo div.header ul ul li em a {background-color:#F57018;}

div.yellow div.header ul ul li a:hover, div.yellow div.header ul li:hover ul li em a {background-color:#EFCC2F!important; color:#000;}
div.red div.header ul ul li a:hover, div.red div.header ul li:hover ul li em a {background-color:#990000!important;}
div.purple div.header ul ul li a:hover, div.purple div.header ul li:hover ul li em a {background-color:#9C0064!important;}
div.blue div.header ul ul li a:hover, div.blue div.header ul li:hover ul li em a {background-color:#0666A3!important;}
div.green div.header ul ul li a:hover, div.green div.header ul li:hover ul li em a {background-color:#0F8557!important;}
div.ochre div.header ul ul li a:hover, div.ochre div.header ul li:hover ul li em a {background-color:#A69C17!important;}
div.indigo div.header ul ul li a:hover, div.indigo div.header ul li:hover ul li em a {background-color:#194B8D!important;}
div.orange div.header ul ul li a:hover, div.orange div.header ul li:hover ul li em a {background-color:#F57018!important;}


div.yellow div.header ul ul,
div.red div.header ul ul,
div.purple div.header ul ul,
div.blue div.header ul ul,
div.green div.header ul ul,
div.ochre div.header ul ul,
div.indigo div.header ul ul,
div.orange div.header ul ul {
    background-position:left bottom;
    background-repeat: no-repeat;
}

div.yellow div.header ul ul {background-image:url(../img/yellow/header_ul_ul_bck.gif);}
div.red div.header ul ul {background-image:url(../img/red/header_ul_ul_bck.gif);}
div.purple div.header ul ul {background-image:url(../img/purple/header_ul_ul_bck.gif);}
div.blue div.header ul ul {background-image:url(../img/blue/header_ul_ul_bck.gif);}
div.green div.header ul ul {background-image:url(../img/green/header_ul_ul_bck.gif);}
div.ochre div.header ul ul {background-image:url(../img/ochre/header_ul_ul_bck.gif);}
div.indigo div.header ul ul {background-image: url(../img/indigo/header_ul_ul_bck.gif);}
div.orange div.header ul ul {background-image: url(../img/orange/header_ul_ul_bck.gif);}

div.yellow div.item h2, div.yellow div.item span.h2 {background-color:#EFCC2F;}
div.red div.item h2, div.red div.item span.h2 {background-color:#CF1F2C;}
div.purple div.item h2, div.purple div.item span.h2 {background-color:#9C0064;}
div.blue div.item h2, div.blue div.item span.h2 {background-color:#0666A3;}
div.green div.item h2, div.green div.item span.h2 {background-color:#0F8557;}
div.ochre div.item h2, div.ochre div.item span.h2 {background-color:#A69C17;}
div.indigo div.item h2, div.indigo div.item span.h2 {background-color:#194B8D;}
div.orange div.item h2, div.orange div.item span.h2 {background-color:#F57018;}

div.yellow div.left div.item h2, div.yellow div.left div.item span.h2 {background-image:url(../img/yellow/h2_home_left_bck.gif); color:#000;}
div.red div.left div.item h2, div.red div.left div.item span.h2 {background-image:url(../img/red/h2_home_left_bck.gif);}
div.purple div.left div.item h2, div.purple div.left div.item span.h2 {background-image:url(../img/purple/h2_home_left_bck.gif);}
div.blue div.left div.item h2, div.blue div.left div.item span.h2 {background-image:url(../img/blue/h2_home_left_bck.gif);}
div.green div.left div.item h2, div.green div.left div.item span.h2 {background-image:url(../img/green/h2_home_left_bck.gif);}
div.ochre div.left div.item h2, div.ochre div.left div.item span.h2 {background-image:url(../img/ochre/h2_home_left_bck.gif);}
div.indigo div.left div.item h2, div.indigo div.left div.item span.h2 {background-image:url(../img/indigo/h2_home_left_bck.gif);}
div.orange div.left div.item h2, div.orange div.left div.item span.h2 {background-image:url(../img/h2_home_left_bck.gif);}

div.yellow div.right div.item h2, div.yellow div.right div.item span.h2 {background-image:url(../img/yellow/h2_home_right_bck.gif); color:#000;}
div.red div.right div.item h2, div.red div.right div.item span.h2 {background-image:url(../img/red/h2_home_right_bck.gif);}
div.purple div.right div.item h2, div.purple div.right div.item span.h2 {background-image:url(../img/purple/h2_home_right_bck.gif);}
div.blue div.right div.item h2, div.blue div.right div.item span.h2 {background-image:url(../img/blue/h2_home_right_bck.gif);}
div.green div.right div.item h2, div.green div.right div.item span.h2 {background-image:url(../img/green/h2_home_right_bck.gif);}
div.ochre div.right div.item h2, div.ochre div.right div.item span.h2 {background-image:url(../img/ochre/h2_home_right_bck.gif);}
div.indigo div.right div.item h2, div.indigo div.right div.item span.h2 {background-image:url(../img/indigo/h2_home_right_bck.gif);}
div.orange div.right div.item h2, div.orange div.right div.item span.h2 {background-image:url(../img/h2_home_right_bck.gif);}

div.yellow div.content div.item h2, div.yellow div.content div.item span.h2 {background-image:url(../img/yellow/h2_content_bck.gif); color:#000;}
div.red div.content div.item h2, div.red div.content div.item span.h2 {background-image:url(../img/red/h2_content_bck.gif);}
div.purple div.content div.item h2, div.purple div.content div.item span.h2 {background-image:url(../img/purple/h2_content_bck.gif);}
div.blue div.content div.item h2, div.blue div.content div.item span.h2 {background-image:url(../img/blue/h2_content_bck.gif);}
div.green div.content div.item h2, div.green div.content div.item span.h2 {background-image:url(../img/green/h2_content_bck.gif);}
div.ochre div.content div.item h2, div.ochre div.content div.item span.h2 {background-image:url(../img/ochre/h2_content_bck.gif);}
div.indigo div.content div.item h2, div.indigo div.content div.item span.h2 {background-image:url(../img/indigo/h2_content_bck.gif);}
div.orange div.content div.item h2, div.orange div.content div.item span.h2 {background-image:url(../img/h2_content_bck.gif);}

div.yellow div.side div.item h2, div.yellow div.side div.item span.h2 {background-image:url(../img/yellow/h2_side_bck.gif); color:#000;}
div.red div.side div.item h2, div.red div.side div.item span.h2 {background-image:url(../img/red/h2_side_bck.gif);}
div.purple div.side div.item h2, div.purple div.side div.item span.h2 {background-image:url(../img/purple/h2_side_bck.gif);}
div.blue div.side div.item h2, div.blue div.side div.item span.h2 {background-image:url(../img/blue/h2_side_bck.gif);}
div.green div.side div.item h2, div.green div.side div.item span.h2 {background-image:url(../img/green/h2_side_bck.gif);}
div.ochre div.side div.item h2, div.ochre div.side div.item span.h2 {background-image:url(../img/ochre/h2_side_bck.gif);}
div.indigo div.side div.item h2, div.indigo div.side div.item span.h2 {background-image:url(../img/indigo/h2_side_bck.gif);}
div.orange div.side div.item h2, div.orange div.side div.item span.h2 {background-image:url(../img/h2_side_bck.gif);}

div.yellow div.subNav {background-image:url(../img/yellow/sub_ul_first_bck.gif);}
div.red div.subNav {background-image:url(../img/red/sub_ul_first_bck.gif);}
div.purple div.subNav {background-image:url(../img/purple/sub_ul_first_bck.gif);}
div.blue div.subNav {background-image:url(../img/blue/sub_ul_first_bck.gif);}
div.green div.subNav {background-image:url(../img/green/sub_ul_first_bck.gif);}
div.ochre div.subNav {background-image:url(../img/ochre/sub_ul_first_bck.gif);}
div.indigo div.subNav {background-image:url(../img/indigo/sub_ul_first_bck.gif);}
div.orange div.subNav {background-image:url(../img/orange/sub_ul_first_bck.gif);}

div.yellow div.subNav ul {background-image:url(../img/yellow/sub_ul_bck.gif);}
div.red div.subNav ul {background-image:url(../img/red/sub_ul_bck.gif);}
div.purple div.subNav ul {background-image:url(../img/purple/sub_ul_bck.gif);}
div.blue div.subNav ul {background-image:url(../img/blue/sub_ul_bck.gif);}
div.green div.subNav ul {background-image:url(../img/green/sub_ul_bck.gif);}
div.ochre div.subNav ul {background-image:url(../img/ochre/sub_ul_bck.gif);}
div.indigo div.subNav ul {background-image:url(../img/indigo/sub_ul_bck.gif);}
div.orange div.subNav ul {background-image:url(../img/orange/sub_ul_bck.gif);}

div.yellow div.subNav ul li a {color:#000; background-image:url(../img/yellow/sub_li_bck.gif);}
div.yellow div.subNav ul li a:hover, div.yellow div.subNav ul li em a {background-image:url(../img/yellow/sub_li_hover_bck.gif); background-color:#EFCC2F; color:#000;}
div.red div.subNav ul li a:hover, div.red div.subNav ul li em a {background-color:#990000;}
div.purple div.subNav ul li a:hover, div.purple div.subNav ul li em a {background-color:#9C0064;}
div.blue div.subNav ul li a:hover, div.blue div.subNav ul li em a {background-color:#0666A3;}
div.green div.subNav ul li a:hover, div.green div.subNav ul li em a {background-color:#0F8557;}
div.ochre div.subNav ul li a:hover, div.ochre div.subNav ul li em a {background-color:#A69C17;}
div.indigo div.subNav ul li a:hover, div.indigo div.subNav ul li em a {background-color:#194B8D;}
div.orange div.subNav ul li a:hover, div.orange div.subNav ul li em a {background-color:#F57018;}

div.yellow div.side div.search {background-image:url(../img/yellow/search_bck.gif);}
div.red div.side div.search {background-image:url(../img/red/search_bck.gif);}
div.purple div.side div.search {background-image:url(../img/purple/search_bck.gif);}
div.blue div.side div.search {background-image:url(../img/blue/search_bck.gif);}
div.green div.side div.search {background-image:url(../img/green/search_bck.gif);}
div.ochre div.side div.search {background-image:url(../img/ochre/search_bck.gif);}
div.indigo div.side div.search {background-image:url(../img/indigo/search_bck.gif);}
div.orange div.side div.search {background-image:url(../img/search_bck.gif);}

div.yellow div.search input.submit {background-image:url(../img/yellow/search.gif);}
div.red div.search input.submit {background-image:url(../img/red/search.gif);}
div.purple div.search input.submit {background-image:url(../img/purple/search.gif);}
div.blue div.search input.submit {background-image:url(../img/blue/search.gif);}
div.green div.search input.submit {background-image:url(../img/green/search.gif);}
div.ochre div.search input.submit {background-image:url(../img/ochre/search.gif);}
div.indigo div.search input.submit {background-image:url(../img/indigo/search.gif);}
div.orange div.search input.submit {background-image:url(../img/search.gif);}

div.yellow div.item a.rss, div.yellow div.search input.submit {color:#000;}

/* Quicklaunch */
div.yellow .LeftMenuTop { background-image: url('../img/yellow/top.png'); }
div.red .LeftMenuTop { background-image: url('../img/red/top.png'); }
div.purple .LeftMenuTop { background-image: url('../img/purple/top.png'); }
div.blue .LeftMenuTop { background-image: url('../img/blue/top.png'); }
div.green .LeftMenuTop { background-image: url('../img/green/top.png'); }
div.ochre .LeftMenuTop { background-image: url('../img/ochre/top.png'); }
div.indigo .LeftMenuTop { background-image: url('../img/indigo/top.png'); }
div.orange .LeftMenuTop { background-image: url('../img/orange/top.png'); }

div.yellow .LeftMenuBottom { background-image: url('../img/yellow/bottom.png'); }
div.red .LeftMenuBottom { background-image: url('../img/red/bottom.png'); }
div.purple .LeftMenuBottom { background-image: url('../img/purple/bottom.png'); }
div.blue .LeftMenuBottom { background-image: url('../img/blue/bottom.png'); }
div.green .LeftMenuBottom { background-image: url('../img/green/bottom.png'); }
div.ochre .LeftMenuBottom { background-image: url('../img/ochre/bottom.png'); }
div.indigo .LeftMenuBottom { background-image: url('../img/indigo/bottom.png'); }
div.orange .LeftMenuBottom { background-image: url('../img/orange/bottom.png'); }

div.yellow .LeftMenuMain { background-image: url('../img/yellow/bg.png'); }
div.red .LeftMenuMain { background-image: url('../img/red/bg.png'); }
div.purple .LeftMenuMain { background-image: url('../img/purple/bg.png'); }
div.blue .LeftMenuMain { background-image: url('../img/blue/bg.png'); }
div.green .LeftMenuMain { background-image: url('../img/green/bg.png'); }
div.ochre .LeftMenuMain { background-image: url('../img/ochre/bg.png'); }
div.indigo .LeftMenuMain { background-image: url('../img/indigo/bg.png'); }
div.orange .LeftMenuMain { background-image: url('../img/orange/bg.png'); }

div.yellow .LeftMenuMain ul ul, div.yellow .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/yellow/bgchildren.png') repeat-y top left;}
div.red .LeftMenuMain ul ul, div.red .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/red/bgchildren.png') repeat-y top left;}
div.purple .LeftMenuMain ul ul, div.purple .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/purple/bgchildren.png') repeat-y top left;}
div.blue .LeftMenuMain ul ul, div.blue .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/blue/bgchildren.png') repeat-y top left;}
div.green .LeftMenuMain ul ul, div.green .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/green/bgchildren.png') repeat-y top left;}
div.ochre .LeftMenuMain ul ul, div.ochre .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/ochre/bgchildren.png') repeat-y top left;}
div.indigo .LeftMenuMain ul ul, div.indigo .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/indigo/bgchildren.png') repeat-y top left;}
div.orange .LeftMenuMain ul ul, div.orange .LeftMenuMain li.Heading ul ul  { background: #fff url('../img/orange/bgchildren.png') repeat-y top left;}

div.yellow .LeftMenuMain li.Heading ul{ background-image: url('../img/yellow/bg.png'); }
div.red .LeftMenuMain li.Heading ul{ background-image: url('../img/red/bg.png'); }
div.purple .LeftMenuMain li.Heading ul{ background-image: url('../img/purple/bg.png'); }
div.blue .LeftMenuMain li.Heading ul{ background-image: url('../img/blue/bg.png'); }
div.green .LeftMenuMain li.Heading ul{ background-image: url('../img/green/bg.png'); }
div.ochre .LeftMenuMain li.Heading ul{ background-image: url('../img/ochre/bg.png'); }
div.indigo .LeftMenuMain li.Heading ul{ background-image: url('../img/indigo/bg.png'); }
div.orange .LeftMenuMain li.Heading ul{ background-image: url('../img/orange/bg.png'); }

div.yellow .LeftMenuMain li.Heading ul li:hover, div.yellow .LeftMenuMain ul li:hover{ background-image: url('../img/yellow/bgselected_noborder.png'); background-repeat: repeat-y; }
div.red .LeftMenuMain li.Heading ul li:hover, div.red .LeftMenuMain ul li:hover{ background-image: url('../img/red/bgselected_noborder.png'); background-repeat: repeat-y; }
div.purple .LeftMenuMain li.Heading ul li:hover, div.purple .LeftMenuMain ul li:hover{ background-image: url('../img/purple/bgselected_noborder.png'); background-repeat: repeat-y; }
div.blue .LeftMenuMain li.Heading ul li:hover, div.blue .LeftMenuMain ul li:hover{ background-image: url('../img/blue/bgselected_noborder.png'); background-repeat: repeat-y; }
div.green .LeftMenuMain li.Heading ul li:hover, div.green .LeftMenuMain ul li:hover{ background-image: url('../img/green/bgselected_noborder.png'); background-repeat: repeat-y; }
div.ochre .LeftMenuMain li.Heading ul li:hover, div.ochre .LeftMenuMain ul li:hover{ background-image: url('../img/ochre/bgselected_noborder.png'); background-repeat: repeat-y; }
div.indigo .LeftMenuMain li.Heading ul li:hover, div.indigo .LeftMenuMain ul li:hover{ background-image: url('../img/indigo/bgselected_noborder.png'); background-repeat: repeat-y; }
div.orange .LeftMenuMain li.Heading ul li:hover, div.orange .LeftMenuMain ul li:hover{ background-image: url('../img/orange/bgselected_noborder.png'); background-repeat: repeat-y; }

div.yellow .LeftMenuMain li.Heading ul li.HasChildren:hover, div.yellow .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/yellow/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.red .LeftMenuMain li.Heading ul li.HasChildren:hover, div.red .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/red/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.purple .LeftMenuMain li.Heading ul li.HasChildren:hover, div.purple .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/purple/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.blue .LeftMenuMain li.Heading ul li.HasChildren:hover, div.blue .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/blue/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.green .LeftMenuMain li.Heading ul li.HasChildren:hover, div.green .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/green/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.ochre .LeftMenuMain li.Heading ul li.HasChildren:hover, div.ochre .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/ochre/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.indigo .LeftMenuMain li.Heading ul li.HasChildren:hover, div.indigo .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/indigo/bgselected_children_noborder.png'); background-repeat: no-repeat;}
div.orange .LeftMenuMain li.Heading ul li.HasChildren:hover, div.orange .LeftMenuMain ul li.HasChildren:hover{ background-image: url('../img/orange/bgselected_children_noborder.png'); background-repeat: no-repeat;}


div.yellow .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.yellow .LeftMenuMain ul ul li.HasChildren:hover,
div.yellow .LeftMenuMain ul ul li:hover,
div.yellow .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.red .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.red .LeftMenuMain ul ul li.HasChildren:hover,
div.red .LeftMenuMain ul ul li:hover,
div.red .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.purple .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.purple .LeftMenuMain ul ul li.HasChildren:hover,
div.purple .LeftMenuMain ul ul li:hover,
div.purple .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.blue .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.blue .LeftMenuMain ul ul li.HasChildren:hover,
div.blue .LeftMenuMain ul ul li:hover,
div.blue .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.green .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.green .LeftMenuMain ul ul li.HasChildren:hover,
div.green .LeftMenuMain ul ul li:hover,
div.green .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.ochre .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.ochre .LeftMenuMain ul ul li.HasChildren:hover,
div.ochre .LeftMenuMain ul ul li:hover,
div.ochre .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.indigo .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.indigo .LeftMenuMain ul ul li.HasChildren:hover,
div.indigo .LeftMenuMain ul ul li:hover,
div.indigo .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}
div.orange .LeftMenuMain li.Heading ul ul li.HasChildren:hover,
div.orange .LeftMenuMain ul ul li.HasChildren:hover,
div.orange .LeftMenuMain ul ul li:hover,
div.orange .LeftMenuMain li.Heading ul ul li:hover{
    background-image: none; 
}

div.yellow .LeftMenuMain li.Selected,
div.yellow .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/yellow/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.red .LeftMenuMain li.Selected,
div.red .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/red/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.purple .LeftMenuMain li.Selected,
div.purple .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/purple/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.blue .LeftMenuMain li.Selected,
div.blue .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/blue/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.green .LeftMenuMain li.Selected,
div.green .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/green/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.ochre .LeftMenuMain li.Selected,
div.ochre .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/ochre/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.indigo .LeftMenuMain li.Selected,
div.indigo .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/indigo/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}
div.orange .LeftMenuMain li.Selected,
div.orange .LeftMenuMain li.Heading li.Selected{
     background-image: url('../img/orange/bgselected_noborder.png');  
     background-repeat: repeat-y;  
}

div.yellow .LeftMenuMain ul li.HasChildrenParentSelected,
div.yellow .LeftMenuMain li.Heading li.ParentSelected,
div.yellow .LeftMenuMain li.Heading li.SelectedHasChildren,
div.yellow .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/yellow/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.red .LeftMenuMain ul li.HasChildrenParentSelected,
div.red .LeftMenuMain li.Heading li.ParentSelected,
div.red .LeftMenuMain li.Heading li.SelectedHasChildren,
div.red .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/red/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.purple .LeftMenuMain ul li.HasChildrenParentSelected,
div.purple .LeftMenuMain li.Heading li.ParentSelected,
div.purple .LeftMenuMain li.Heading li.SelectedHasChildren,
div.purple .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/purple/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.blue .LeftMenuMain ul li.HasChildrenParentSelected,
div.blue .LeftMenuMain li.Heading li.ParentSelected,
div.blue .LeftMenuMain li.Heading li.SelectedHasChildren,
div.blue .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/blue/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.green .LeftMenuMain ul li.HasChildrenParentSelected,
div.green .LeftMenuMain li.Heading li.ParentSelected,
div.green .LeftMenuMain li.Heading li.SelectedHasChildren,
div.green .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/green/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.ochre .LeftMenuMain ul li.HasChildrenParentSelected,
div.ochre .LeftMenuMain li.Heading li.ParentSelected,
div.ochre .LeftMenuMain li.Heading li.SelectedHasChildren,
div.ochre .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/ochre/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.indigo .LeftMenuMain ul li.HasChildrenParentSelected,
div.indigo .LeftMenuMain li.Heading li.ParentSelected,
div.indigo .LeftMenuMain li.Heading li.SelectedHasChildren,
div.indigo .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/indigo/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}
div.orange .LeftMenuMain ul li.HasChildrenParentSelected,
div.orange .LeftMenuMain li.Heading li.ParentSelected,
div.orange .LeftMenuMain li.Heading li.SelectedHasChildren,
div.orange .LeftMenuMain ul li.SelectedHasChildren{
     background-image: url('../img/orange/bgselected_children_noborder.png');  
     background-repeat: no-repeat;
}


div.yellow .LeftMenuMain ul li.Heading:hover,
div.yellow .LeftMenuMain ul li.Heading,
div.red .LeftMenuMain ul li.Heading:hover,
div.red .LeftMenuMain ul li.Heading,
div.purple .LeftMenuMain ul li.Heading:hover,
div.purple .LeftMenuMain ul li.Heading,
div.blue .LeftMenuMain ul li.Heading:hover,
div.blue .LeftMenuMain ul li.Heading,
div.green .LeftMenuMain ul li.Heading:hover,
div.green .LeftMenuMain ul li.Heading,
div.ochre .LeftMenuMain ul li.Heading:hover,
div.ochre .LeftMenuMain ul li.Heading,
div.indigo .LeftMenuMain ul li.Heading:hover,
div.indigo .LeftMenuMain ul li.Heading,
div.orange .LeftMenuMain ul li.Heading:hover,
div.orange .LeftMenuMain ul li.Heading {
    background-image: url('../img/leftmenu/header_bg.png');
    background-repeat: no-repeat;
}

div.yellow .LeftMenuMain li li.Selected,
div.yellow .LeftMenuMain li li li.Selected,
div.yellow .LeftMenuMain li li li.ParentSelected,
div.yellow .LeftMenuMain ul ul li.SelectedHasChildren,
div.yellow .LeftMenuMain li.Heading li li.Selected,
div.yellow .LeftMenuMain ul li.HasChildrenParentSelected li,
div.red .LeftMenuMain li li.Selected,
div.red .LeftMenuMain li li li.Selected,
div.red .LeftMenuMain li li li.ParentSelected,
div.red .LeftMenuMain ul ul li.SelectedHasChildren,
div.red .LeftMenuMain li.Heading li li.Selected,
div.red .LeftMenuMain ul li.HasChildrenParentSelected li,
div.purple .LeftMenuMain li li.Selected,
div.purple .LeftMenuMain li li li.Selected,
div.purple .LeftMenuMain li li li.ParentSelected,
div.purple .LeftMenuMain ul ul li.SelectedHasChildren,
div.purple .LeftMenuMain li.Heading li li.Selected,
div.purple .LeftMenuMain ul li.HasChildrenParentSelected li,
div.blue .LeftMenuMain li li.Selected,
div.blue .LeftMenuMain li li li.Selected,
div.blue .LeftMenuMain li li li.ParentSelected,
div.blue .LeftMenuMain ul ul li.SelectedHasChildren,
div.blue .LeftMenuMain li.Heading li li.Selected,
div.blue .LeftMenuMain ul li.HasChildrenParentSelected li,
div.green .LeftMenuMain li li.Selected,
div.green .LeftMenuMain li li li.Selected,
div.green .LeftMenuMain li li li.ParentSelected,
div.green .LeftMenuMain ul ul li.SelectedHasChildren,
div.green .LeftMenuMain li.Heading li li.Selected,
div.green .LeftMenuMain ul li.HasChildrenParentSelected li,
div.ochre .LeftMenuMain li li.Selected,
div.ochre .LeftMenuMain li li li.Selected,
div.ochre .LeftMenuMain li li li.ParentSelected,
div.ochre .LeftMenuMain ul ul li.SelectedHasChildren,
div.ochre .LeftMenuMain li.Heading li li.Selected,
div.ochre .LeftMenuMain ul li.HasChildrenParentSelected li,
div.indigo .LeftMenuMain li li.Selected,
div.indigo .LeftMenuMain li li li.Selected,
div.indigo .LeftMenuMain li li li.ParentSelected,
div.indigo .LeftMenuMain ul ul li.SelectedHasChildren,
div.indigo .LeftMenuMain li.Heading li li.Selected,
div.indigo .LeftMenuMain ul li.HasChildrenParentSelected li,
div.orange .LeftMenuMain li li.Selected,
div.orange .LeftMenuMain li li li.Selected,
div.orange .LeftMenuMain li li li.ParentSelected,
div.orange .LeftMenuMain ul ul li.SelectedHasChildren,
div.orange .LeftMenuMain li.Heading li li.Selected,
div.orange .LeftMenuMain ul li.HasChildrenParentSelected li
{
     background-image: none;
}
div.yellow .LeftMenuMain li.Heading ul ul a,
div.yellow .LeftMenuMain li.Heading ul ul a:link,
div.yellow .LeftMenuMain li.Heading ul ul a:hover,
div.yellow .LeftMenuMain li.Heading ul ul a:visited,
div.yellow .LeftMenuMain ul ul a,
div.yellow .LeftMenuMain ul ul a:link,
div.yellow .LeftMenuMain ul ul a:hover,
div.yellow .LeftMenuMain ul ul a:visited,

div.red .LeftMenuMain li.Heading ul ul a,
div.red .LeftMenuMain li.Heading ul ul a:link,
div.red .LeftMenuMain li.Heading ul ul a:hover,
div.red .LeftMenuMain li.Heading ul ul a:visited,
div.red .LeftMenuMain ul ul a,
div.red .LeftMenuMain ul ul a:link,
div.red .LeftMenuMain ul ul a:hover,
div.red .LeftMenuMain ul ul a:visited,

div.purple .LeftMenuMain li.Heading ul ul a,
div.purple .LeftMenuMain li.Heading ul ul a:link,
div.purple .LeftMenuMain li.Heading ul ul a:hover,
div.purple .LeftMenuMain li.Heading ul ul a:visited,
div.purple .LeftMenuMain ul ul a,
div.purple .LeftMenuMain ul ul a:link,
div.purple .LeftMenuMain ul ul a:hover,
div.purple .LeftMenuMain ul ul a:visited,

div.blue .LeftMenuMain li.Heading ul ul a,
div.blue .LeftMenuMain li.Heading ul ul a:link,
div.blue .LeftMenuMain li.Heading ul ul a:hover,
div.blue .LeftMenuMain li.Heading ul ul a:visited,
div.blue .LeftMenuMain ul ul a,
div.blue .LeftMenuMain ul ul a:link,
div.blue .LeftMenuMain ul ul a:hover,
div.blue .LeftMenuMain ul ul a:visited,

div.green .LeftMenuMain li.Heading ul ul a,
div.green .LeftMenuMain li.Heading ul ul a:link,
div.green .LeftMenuMain li.Heading ul ul a:hover,
div.green .LeftMenuMain li.Heading ul ul a:visited,
div.green .LeftMenuMain ul ul a,
div.green .LeftMenuMain ul ul a:link,
div.green .LeftMenuMain ul ul a:hover,
div.green .LeftMenuMain ul ul a:visited,

div.ochre .LeftMenuMain li.Heading ul ul a,
div.ochre .LeftMenuMain li.Heading ul ul a:link,
div.ochre .LeftMenuMain li.Heading ul ul a:hover,
div.ochre .LeftMenuMain li.Heading ul ul a:visited,
div.ochre .LeftMenuMain ul ul a,
div.ochre .LeftMenuMain ul ul a:link,
div.ochre .LeftMenuMain ul ul a:hover,
div.ochre .LeftMenuMain ul ul a:visited,

div.indigo .LeftMenuMain li.Heading ul ul a,
div.indigo .LeftMenuMain li.Heading ul ul a:link,
div.indigo .LeftMenuMain li.Heading ul ul a:hover,
div.indigo .LeftMenuMain li.Heading ul ul a:visited,
div.indigo .LeftMenuMain ul ul a,
div.indigo .LeftMenuMain ul ul a:link,
div.indigo .LeftMenuMain ul ul a:hover,
div.indigo .LeftMenuMain ul ul a:visited,

div.orange .LeftMenuMain li.Heading ul ul a,
div.orange .LeftMenuMain li.Heading ul ul a:link,
div.orange .LeftMenuMain li.Heading ul ul a:hover,
div.orange .LeftMenuMain li.Heading ul ul a:visited,
div.orange .LeftMenuMain ul ul a,
div.orange .LeftMenuMain ul ul a:link,
div.orange .LeftMenuMain ul ul a:hover,
div.orange .LeftMenuMain ul ul a:visited
{
        color: #fff;
}
div.yellow .LeftMenuMain li.Heading li li.Selected,
div.yellow .LeftMenuMain li li.Selected,
div.yellow .LeftMenuMain li li.ParentSelected li.Selected,
div.red .LeftMenuMain li.Heading li li.Selected,
div.red .LeftMenuMain li li.Selected,
div.red .LeftMenuMain li li.ParentSelected li.Selected,
div.purple .LeftMenuMain li.Heading li li.Selected,
div.purple .LeftMenuMain li li.Selected,
div.purple .LeftMenuMain li li.ParentSelected li.Selected,
div.blue .LeftMenuMain li.Heading li li.Selected,
div.blue .LeftMenuMain li li.Selected,
div.blue .LeftMenuMain li li.ParentSelected li.Selected,
div.green .LeftMenuMain li.Heading li li.Selected,
div.green .LeftMenuMain li li.Selected,
div.green .LeftMenuMain li li.ParentSelected li.Selected,
div.ochre .LeftMenuMain li.Heading li li.Selected,
div.ochre .LeftMenuMain li li.Selected,
div.ochre .LeftMenuMain li li.ParentSelected li.Selected,
div.indigo .LeftMenuMain li.Heading li li.Selected,
div.indigo .LeftMenuMain li li.Selected,
div.indigo .LeftMenuMain li li.ParentSelected li.Selected,
div.orange .LeftMenuMain li.Heading li li.Selected,
div.orange .LeftMenuMain li li.Selected,
div.orange .LeftMenuMain li li.ParentSelected li.Selected
 {
    color: #fff;    
}