/* user-box (top right user selection dropdown) */

.user-box {
    font-size: 11px;
    border-radius: 8px;
}

.user-box .logout {
    float: right;
    text-decoration: none;
}

.user-box .user-role {
    font-size: 10px;
    color: #8c8c8c;
}

.user-box .user-group {
    display: block;
}

.user-box .user-icon {
    float: left;
    margin: 0 5px 5px 0;
    height: 27px;
    width: 27px;
}

.user-box .user-icon {
    background: url("../../images/icons-users.png");
    background-repeat: no-repeat;
}

.user-box .user-role-default .user-icon {
    background-position: 0 -108px;
}

.user-box .user-role-manager .user-icon {
    background-position: 0 3px;
}

.user-box .user-role-user .user-icon {
    background-position: 0 -71px;
}
.user-box .user-role-noc .user-icon {
    background-position: 0 -34px;
}

.user-box .user-name {
    display: inline-block;
    margin-bottom: 8px;
}

.user-box .dropdown ul {
    margin-left: 0;
    list-style: none;
}

.user-box .dropdown li {
    clear:left;
    cursor: pointer;
}

.user-box .dropdown li:hover {
    background-color: #EBEBEB;
}
