/* user-box (top right user selection dropdown) */

.user-box {
    font-size: 11px;
    border-radius: 8px;
}

.user-box .logout {
    float: right;
    text-decoration: none;
}

.user-box .user-role {
    font-size: 10px;
    color: #8c8c8c;
}

.user-box .user-group {
    display: block;
}

.user-box .user-icon {
    float: left;
    margin: 0 5px 5px 0;
    height: 20px;
    width: 20px;
}

.user-box .user-role-default .user-icon {
    background-color: grey;
}
.user-box .user-role-manager .user-icon {
    background-color: blue;
}
.user-box .user-role-user .user-icon {
    background-color: red;
}
.user-box .user-role-noc .user-icon {
    background-color: green;
}

.user-box .user-name {
    display: inline-block;
    margin-bottom: 8px;
}

.user-box .dropdown ul {
    margin-left: 0;
    list-style: none;
}

.user-box .dropdown li {
    cursor: pointer;
}

.user-box .dropdown li:hover {
    background-color: #EBEBEB;
}
